div {
  color: green;
}

@media (min-width: 10em) and (max-width: 40em) {
  color: green;
}

h1 + p,
h2 + p,
h3 + p,
h4 + p,
h5 + p,
h6 + p {
  color: green;
}

div {
  color: rgba(0, 128, 0, 0.9);
}

div {
  background: rgba(255, 255, 255, 0.5);
  color: rgb(0, 0, 0);
}

div {
  background: rgba(152, 35, 248, 0.20392);
  color: rgba(153, 221, 153, 0.8);
}

div {
  background: rgba(128, 255, 0, 0.5);
  color: rgb(128, 234, 255);
}

h1 {
  font-feature-settings: "c2sc";
  font-variant-caps: small-caps;
}

table {
  font-feature-settings: "lnum";
  font-variant-numeric: lining-nums;
}

li:last-child, li.fancy {
  color: green;
}

li:not(:last-child):not(.fancy) {
  color: green;
}

a:link,a:visited {
  color: green;
}

@media screen and (min-width: 10em) and (max-width: 40em) {
  div {
    color: green;
  }
}

